* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.container {
  background-color: #000;
  display: grid;
  grid-gap: 39px 49px;
  grid-template-rows: repeat(auto-fill, minmax(80px, auto)) 1fr;
  grid-template-columns: auto 1fr;
  padding: 53px 65px;
}

.businessCardContainer {
  max-height: 70vh; /* Set maximum height of container to viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Card Container */
.cardContainer {
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding: 44px 20px; /* Adjust padding for smaller screens */
  background-image: url("../../../assets/images/bg-01.jpg"); /* Set background image */
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
  color: white;
  border-radius: 10px;
}

/* Card Profile Section */
.cardProfileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_image {
  height: 20vh;
  /* max-width: 100%; */
  /* border-radius: 50%; */
}

/* .profile_name {
    font-size: 25px;
  }
  
  .profile_designation {
    font-size: 12px;
    color: #f3bf99;
    font-weight: 400;
  }
  
  .profile_website {
    padding: 10px 0;
    font-size: 14px;
    color: #f5f5f5;
    font-weight: 400;
  } */

/* Card Bio Section */
.cardBioSection {
  background-color: aliceblue;
  color: #23252c;
  padding: 10px;
  border-radius: 10px;
}

.cardBioParagraph {
  font-size: 14px; /* Increase font size for better readability */
  font-weight: 400;
}

/* Card Company Section*/
.cardCompanySection {
  background-color: aliceblue;
  color: #23252c;
  padding: 10px;
  border-radius: 10px;
}

/* Card Social */
.cardSocialSection {
  background-color: aliceblue;
  color: #23252c;
  border-radius: 10px;
  height: max-content;
  /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; */
}

.cardSocialItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

i {
  margin-right: 10px;
}

/* New CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.viewDigitalBusinessCardContainer {
  background-image: url("../../../assets/images/background/abstract_black_01.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Card Container */
.viewCardContainer {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  color: gray;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr; /* single column */
  grid-auto-rows: minmax(min-content, max-content); /* automatic row height */
  row-gap: 20px; /* gap between rows */
}

/* View Card Images Section */
.viewCardImagesSection {
  position: relative; /* Ensure positioning context */
  height: 25vh;
  width: 100%;
  background-image: url("../../../assets/images/background/office_cover_photo_01.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.viewCardImages_profileImage {
  position: absolute; /* Position absolutely within the relative parent */
  top: 100%;
  left: 25%;
  transform: translate(-50%, -50%); /* Center the image */
  z-index: 1; /* Ensure profile image stays above the cover image */
}

/* View Card Profile Bio Section */
.viewCardProfileBioDetails {
  width: 100%;
  grid-column: 1; /* span the entire column */
  padding: 20px; /* add some padding for better readability */
  margin-top: 5vh; /* Ensure profile bio starts after the profile picture ends */
  z-index: 2; /* Ensure profile bio stays above the cover and profile image */
}

.viewCardSocialLinks {
  width: 100%;
  grid-column: 1;
  padding: 20px;
  margin-top: 5vh;
  z-index: 2;
}

.view_card_content_title {
  font-size: xx-large;
  font-weight: 500;
  color: black;
}

.view_card_content_sub_title {
  font-size: large;
  font-weight: 400;
  color: black;
}

/* .label_title {
  font-size: large;
  font-weight: 400;
  color: black;
} */

.button-content {
  display: flex;
  align-items: center;
}

.social_custom_icon {
  margin-right: 5px; /* Adjust as needed to add spacing between icon and text */
}
