/* [ FONT ] */

/* @font-face {
  font-family: Poppins-Regular;
  src: url("../../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../../assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../../assets/fonts/poppins/Poppins-SemiBold.ttf");
} */

@font-face {
  font-family: Roboto;
  src: url("../../../assets/fonts/roboto/Roboto-Regular.ttf");
}

/* [ RESTYLE TAG ] */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Roboto;
}

/* [ login ] */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  border-radius: 10px;
  overflow: hidden;
}

/* [ Responsive ] */

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
