.view-cards-qr-custom-card .ant-card-head {
  background-color: #12a1a3; /* Change background color of the header */
  overflow-y: auto;
}

.viewCardsQRContainer {
  height: 68vh;
  max-height: 68vh;
  overflow-y: auto;
}
/* 
.ant-table-bordered .ant-table-thead > tr > th,
.ant-table-bordered .ant-table-tbody > tr > td,
.ant-table-bordered .ant-table-footer > tr > td {
  border: 1px solid #12A1A3;
}

.ant-table-bordered .ant-table-thead > tr > th {
  border: 1px solid #12A1A3;
}

.ant-table-bordered .ant-table-footer > tr > td {
  border: 1px solid #12A1A3;
} */
