.view-cards-custom-card .ant-card-head {
  background-color: #12a1a3; /* Change background color of the header */
  overflow-y: auto;
}

/* form#editUserForm {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
} */

.viewCardsContainer {
  height: 68vh;
  max-height: 68vh;
  overflow-y: auto;
}

.edit-card-modal-form {
  border: 1px solid #12a1a3;
  border-radius: 0px;
  margin: 0px 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 25px !important;

  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
