/* Custom hover style */
li.ant-menu-item.sider-dashboard-menu-item.my-2:hover {
  background-color: #e9f2f2; /* Change background color on hover */
  color: black;
}

/* Custom active style */
li.ant-menu-item.ant-menu-item-selected.sider-dashboard-menu-item.my-2 {
  background-color: #e9f2f2; /* Change background color when item is active */
  color: black; /* Change text color when item is active */
}

/* .dashboard-container {
  height: 100vh;
} */
