.view-change-pass-custom-card .ant-card-head {
  background-color: #bae7ff; /* Change background color of the header */
}

form#changePasswordForm {
  border: 1px solid #bae7ff;
  border-radius: 0px;
  margin: 0px 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 25px !important;
}

.viewChangePasswordContainer {
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}
